@model IEnumerable<SalesRecord>
@{
    ViewData["Title"] = "SimpleSearch";
}

<h1>@ViewData["Title"]</h1>

<nav class="navbar navbar-dark">
    <div class="container-fluid">
        <form role="search">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate">Min Date</label>
                    <input type="date" class="form-control" name="minDate"/>
                </div>
                <div class="form-group">
                    <label for="maxDate">Max Date</label>
                    <input type="date" class="form-control" name="maxDate" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>
</nav>

<div> <!--Div do painel-->
    <div> <!--Painel hading-->
        <h3>Total sales - @Model.Sum(obj => obj.Amount).ToString("F2")</h3>
    </div>
    <div>  <!--Painel body-->
        <table class="table-striped table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.SalesRecordId)</th>
                    <th>@Html.DisplayNameFor(model => model.Date)</th>
                    <th>@Html.DisplayNameFor(model => model.Seller)</th>
                    <th>@Html.DisplayNameFor(model => model.Seller.Departments)</th>
                    <th>@Html.DisplayNameFor(model => model.Amount)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(modelItem => item.SalesRecordId)</td>
                        <td>@Html.DisplayNameFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayNameFor(modelItem => item.Seller.Name)</td>
                        <td>@Html.DisplayNameFor(modelItem => item.Seller.Departments.Nome)</td>
                        <td>@Html.DisplayNameFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayNameFor(modelItem => item.Status)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>